[submodule "JCMLib"]
	path = JCMLib
	url = https://github.com/JnCrMx/JCMLib.git
[submodule "print3d"]
	path = print3d
	url = D:/Projects/JuFo/Home3D/print3d/
[submodule "strip_gcode"]
	path = strip_gcode
	url = D:/Projects/JuFo/Home3D/strip_gcode/
